* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    font-size: 16px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header,
footer {
    grid-column: 1 / 4;
}

main {
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-items: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;

    background-color: black;
    color: white;
}

header img {
    width: 2.75rem;

    border-radius: 2.75rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

a {
    color: white;
    text-decoration: none;
}

.active {
    color: lightsalmon;
}

a:hover {
    text-decoration: underline;
}

section {
    grid-column: 2 / 3;
}

.hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.hero picture,
.hero article {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.hero picture,
.hero img {
    width: 100%;
    height: auto;
}

.hero article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hero a {
    background-color: orangered;
    border-radius: 5rem;
    padding: 1rem 2rem;
    border: 2px white solid;
}

.preview {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding: 1rem 2rem;
}

.card {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    background-color: brown;
    color: white;
    padding-block: 2rem;

    border-radius: 1rem;
}

.card picture {
    width: 80%;
}

.card img {
    width: 100%;
}

/* Estilo de la sección del formulario */
section:has(form) {
    justify-self: center;

    width: 100%;
    max-width: 800px;
    background-color: #f7f7f7;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 8px;
    margin-block: 2rem;
}

/* Estilo de los encabezados */
h2,
h3 {
    text-align: center;
}

/* Estilos para el formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

/* Input fields y textarea adaptables al ancho */
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Botón de envío */
input[type="submit"] {
    background-color: #000;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    align-self: center;
}

input[type="submit"]:hover {
    background-color: #555;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 1rem 2rem;

    background-color: black;
    color: white;
}

.productos {
    padding: 2rem;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-items: center;
    align-items: center;

    gap: 2rem;
}

.producto {
    padding: 2rem;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;

    gap: 1rem;
}

.producto h3 {
    text-align: left;
}

.producto article {
    width: 100%;
}

.precio {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.info table {
    border: 1px solid black;
    border-collapse: collapse;
}

.info table tr:not(table:last-child) {
    border-bottom: 1px solid black;
}

.info table th {
    border-right: 1px solid black;

    text-align: left;
    width: 7ch;
}

.info table th,
.info table td {
    padding: .125rem;
}

@media (min-width: 768px) {
    section {
        padding: 20px;
    }

    input[type="submit"] {
        width: 100px;
    }
}

@media (min-width: 1024px) {
    .producto {
        grid-template-columns: 1fr 1fr;
    }

    .producto h2 {
        grid-column: 1 / 3;

        width: 100%;
        text-align: left;
    }

    .producto picture {
        grid-row: 2 / 5;
    }
}