* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    font-size: 16px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header,
footer {
    grid-column: 1 / 4;
}

main {
    grid-column: 2 / 3;

    display: grid;
    grid-template-columns: auto 1fr auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;

    background-color: black;
    color: white;
}

header img {
    width: 2.75rem;

    border-radius: 2.75rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

a {
    color: white;
    text-decoration: none;
}

.active {
    color: lightsalmon;
}

a:hover {
    text-decoration: underline;
}

section {
    grid-column: 2 / 3;
}

.hero {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.hero picture,
.hero article {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.hero picture,
.hero img {
    width: 100%;
    height: auto;
}

.hero article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.hero a {
    background-color: orangered;
    border-radius: 5rem;
    padding: 1rem 2rem;
    border: 2px white solid;
}

.preview {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding: 1rem 2rem;
}

.card {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    background-color: brown;
    color: white;
    padding-block: 2rem;

    border-radius: 1rem;
}

.card picture {
    width: 80%;
}

.card img {
    width: 100%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 1rem 2rem;

    background-color: black;
    color: white;
}

.productos {
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-items: center;
    align-items: center;

    gap: 2rem;
}